<div id="fullWidthContainer">
  <h1>About RailsBridge</h1>

  <p>RailsBridge, Inc. is an Indiana non-profit corporation founded in 2009 that is applying for 501(c)3 tax status. Our mailing address is:</p>

  <p>
    5100 Vogel Rd. #305<br />
    Evansville, IN 47715
  </p>

  <p>
    Our current Board of Directors:
  </p>

  <ul>
    <li>Michael Gunderloy</li>
    <li>Dana Jones</li>
    <li>Sarah Mei</li>
    <li>Sarah Allen</li>
    <li>Michael Breen</li>
    <li>Eric Davis</li>
  </ul>
</div>