<h1>How You Can Help</h1>
<p class='left'>Want to help out RailsBridge? Great! Here's what you can do.</p>
<h2>Current RailsBridge Projects</h2>
<p class='left'>Projects on this list are actively under way. Email the contact person or join our mailing list to get involved:</p>
<ul>
  <li>Public Rails Workshops (Sarah Mei, sarahmei at gmail dot com)</li>
  <li><a href="http://teachingkids.railsbridge.org">Teaching Ruby to Kids</a> (Sarah Allen, sarah at ultrasaurus dot com)</li>

  <li>Current Blog Information Locator (Elad Meidar, eize dot sus at gmail dot com)</li>
  <li><a href="http://www.railsmentors.org">Online Mentoring</a> (Brian Hogan, bphogan at gmail dot com)</li>
  <li><a href="http://railstutor.org">Courseware for Newcomers to Rails</a> (<a href="mailto:dana@sterlingrosedesign.com">Dana Jones</a>)</li>
  <li>Code Reviews for Students (<a href="mailto:MikeG1@larkfarm.com">Mike Gunderloy</a>)</li>

  <li><a href="http://rubychallenge.com/">Ruby Challenge</a> (<a href="mailto:kenesymarianna@gmail.com">Marianna Kenesy</a>). Contribute your own great challenge ideas at <a href="http://suggestions.rubychallenge.com/">Ruby Challenge Suggestions</a>.</li>
  <li>Pro Bono Site Work for Non-Profits (<a href="mailto:hardbap@gmail.com">Mike Breen<a/>)</li>
  <li>RailsBridge Wiki (<a href="mailto:jeffrey.schoolcraft@gmail.com">Jeff Schoolcraft</a>)</li>

  <li>RailsBridge Site Redesign (Elad Meidar, eize dot sus at gmail dot com)</li>
  <li>Guides & support pathways for Windows users (Dibya, dzgroups at gmail dot com)</li>
</ul>
<h2>Proposed RailsBridge Projects</h2>
<p class='left'>Projects on this list have been discussed, but do not yet have a project lead. If you're interested in seeing one of them take off, volunteer to be the project lead by sending a message to the <a href='http://groups.google.com/group/railsbridge'>Google Group</a>:</p>

<ul>
  <li>Contest for new developers, with a prize for the most creative Rails project/concept/innovation</li>
  <li>Participate in Google Summer of Code as a mentoring organization</li>
  <li>Distribute a pamphlet/presentation on <em>The proper way to grow, guide, and nurture YOUR Rails community</em></li>
  <li>Mentorship program (parts of this have been nibbled off)</li>
  <li>Professional Association</li>

  <li>Encourage/create blog entries and articles aimed at beginning Rails developers</li>
  <li>Position paper on what makes a good/acceptable/inclusive presentation</li>
  <li>HOWTOs for user group and conference organizers</li>
  <li>Sponsoring our own conference/camp/whatever</li>
  <li>"Stand up and be counted" badge for web sites.</li>
  <li>T-shirts for RailsBridge</li>

  <li>Book Club to meet and discuss books</li>
  <li>Guidance for new contributors to OSS projects</li>
</ul>
<h2>RailsBridge Infrastructure</h2>
<p class='left'>There are also a few places where we're looking for leaders to help put RailsBridge itself on a firm footing:</p>
<ul>
  <li>Build a central repository for membership info (location, projects working on) - might be a scrapable page on the wiki</li>
  <li>Help publicize and promote RailsBridge projects to the wider community</li>
</ul>
<h2>Your Ideas</h2>
<p class='left'>We don't have all the answers! See a way to contribute to the RailsBridge mission that isn't on this list? Come tell us about it!</p>
