<div id="fullWidthContainer">
  <h1>RailsBridge Mission and Guidelines</h1>

  <h2>The RailsBridge Mission:</h2>
  <p>To create an inclusive and friendly Ruby on Rails community.</p>
  <h2>The RailsBridge Guidelines:</h2>
  <ul>
    <li>First, do no harm. Then, help where you can.</li>
    <li>Bridge the gap from aspiring developer to contributing community member, through mentoring, teaching, and writing.</li>

    <li>Reach out to individuals and groups who are underrepresented in the community.</li>
    <li>Collaborate with other groups with similar goals.</li>
  </ul>
</div>
