<div id="footer">
	<div class="container">
		<p>&copy; 2009 RailsBridge, Inc. All Rights Reserved. | <%= link_to "About RailBridge, Inc.", about_path %> | <%= link_to "Ruby on Rails", "http://rubyonrails.org" %> is a trademark of David Heinemeier Hansson</p>
	</div>
</div>