<div id="header">
	<div id="logo"><a href=".">RailsBridge</a></div>
	<div id="slogun"><img src="images/slogun.gif" alt="An inclusive and friendly Ruby on Rails comunity." /></div>
	<ul id="topNav">
		<li><a href="#">Projects</a></li>
		<li><a href="#">Mission</a></li>
		<li><a href="#">Join Us</a></li>
	</ul>		
</div>