<div id="menuToolbar">
	<div id="menuToolbarContainer">
		<div id="menuToolbarContent">
			<strong>RailsBridge Network &rarr;</strong> <a href="http://railsbridge.org" title="railsbridge.org">RailsBridge.org</a> | 
			<a href="http://railstutor.org" title="railstutor.org">Rails Courseware</a> | 
			<a href="http://builders.railsbridge.org" title="RailsBridge Builders">Builders</a> |
			<a href="http://railsmentors.org" title="railsmentors.org">Rails Mentors</a> | 
			<a href="http://teachingkids.railsbridge.org" title="teachingkids.railsbridge.org">Teaching Kids</a> | 
			<a href="http://wiki.railsbridge.org" title="wiki.railsbridge.org">RailsBridge Wiki</a> | 
			<a href="http://workshops.railsbridge.org" title="workshops.railsbridge.org">Workshops</a> | 
			<a href="http://rubychallenge.com/" title="rubychallenge.com">Ruby Challenge</a>
		</div>
	</div>
	<div id="menuToolbarShadow"></div>
</div>